/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  height: 100%;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

/*清除所有样式的内外边距*/
*{
  margin: 0;
  padding: 0;
}
/*再单独修改以下几项的默认样式*/
html{
  line-height: 1.15; /* Correct the line height in all browsers */
  /* -webkit-text-size-adjust: 100%; Prevent adjustments of font size after orientation changes in iOS. */
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10. */
}

img {
  border-style: none; /*  Remove the border on images inside links in IE 10. */
}

/* 设定body的默认样式 */
body{
  margin: 0;
  overflow: hidden;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
/*使用权重覆盖掉侧边栏的group组div占位*/
div .el-menu-item-group__title {
  padding: 0;
}


